body {
  text-align: center;
  font-style: italic;
  background: #000000;
  color: #ffffff;
}
h1 {
  font-size: 100px;
  color: #ffffff;
  text-shadow: 1px 2px 2px #874300;
}
h2 {
  font-size: 60px;
  color: #ffffff;
  text-shadow: 1px 2px 2px #874300;
}
.clear {
  height: 10px;
}
.topnav {
  font-size: 20px;
  color: azure;
  display: block;
  width: 100%;
  overflow: hidden;
  margin: o;
  top: 0;
  padding: 5px 20px;
  float: left;
  list-style-type: none;
}
a {
  color: azure;
  text-decoration-line: none;
}
.topnav {
  float: right;
}

.button {
  background-color: beige;
  padding: 20px;
  color: #000000;
  border-radius: 5px;
}
